<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monster.greenfruit.dao.ActivitySetMapper">
    <select id="countActivitySet" resultType="integer">
        select count(admin_id) as counts
        from activity_set
    </select>
</mapper>