<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monster.greenfruit.dao.AdminMapper">

    <resultMap id="ExtendResultMap" type="com.monster.greenfruit.pojo.domain.Admin">
        <id column="admin_id" jdbcType="BIGINT" property="adminId"/>
        <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="admin_cellphone" jdbcType="VARCHAR" property="adminCellphone"/>
        <result column="admin_identity" jdbcType="VARCHAR" property="adminIdentity"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="admin_salt" jdbcType="VARCHAR" property="adminSalt"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
    </resultMap>

    <select id="selectByCellphone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select admin_id, password,admin_name, sex, admin_cellphone, admin_identity, level, admin_salt
        , district
        from admin
        where admin_cellphone = #{adminCellphone,jdbcType=VARCHAR}
    </select>

    <select id="searchAdmin" resultMap="ExtendResultMap">
        select admin_id, admin_name, sex, admin_cellphone, admin_identity, level, admin_salt, district
        from admin
        <where>
            1=1
            <if test="adminId!=null">
               and admin_id=#{adminId,jdbcType=BIGINT}
            </if>
            <if test="adminName!=''">
               and admin_name like concat("%",#{adminName,jdbcType=VARCHAR},"%")
            </if>
            <if test="adminCellphone!=''">
               and admin_cellphone like concat("%",#{adminCellphone,jdbcType=VARCHAR},"%")
            </if>
            <if test="level!=null and level!=''">
               and level=#{level,jdbcType=INTEGER}
            </if>
        </where>
    </select>

</mapper>